.title {
  padding: 8px 12px;
  width: 100%;
}

.title[data-align='left'] {
  text-align: left;
}

.title[data-align='center'] {
  text-align: center;
}

.title[data-align='right'] {
  text-align: right;
}

.title[data-border='none'] {
  border-bottom: none;
}

.title[data-border='normal'] {
  border-bottom: 1px solid gray;
}

.title[data-border='bold'] {
  border-bottom: 2px solid gray;
}
